
.customoverlay {position:relative;bottom:85px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
.customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #d95050;background: #d95050 url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
.customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
   
    html, body {height:100%; width:100%; padding:0px; margin:0px;  position: fixed; overflow: hidden;}
	div.map{
	
	}
	div.absolute { 
        position: absolute;
        top : 90%;
        left : 25%;
        right : 25%;
        width : 100%;
		z-index:6;
        opacity: 0.9;
    }
    .yellow_search {
	display: inline-block;
	width: 45%; height:34px;
	border: 3px solid #fac30d;
	background: white;

    }
    .input_text { 
		width: 330px; height: 30px;
    	border: 0;
    	line-height: 21px;
    	font-weight: bold;
    	font-size: 20px;
    	outline: none;
		margin : 2px 5px 2px 5px;

    }
    .sch_smit {
    	width:100px; height: 40px;
    	margin: 0; border: 0;
    	vertical-align: top;
    	background: #FFB000;
    	color: white;
    	font-weight: bold;
    	border-radius: 1px;
		cursor: pointer;
		font-size: 20px;
		opacity: 90;

    }
    .sch_smit:hover { 
    	background: #fac30d;
    }
  