<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>corona</title>
</head>
<link href="css/corona.css" rel="stylesheet">

<body>
    <div id="map" style="width:100%;height:100%;"></div>
  <div class = "absolute">
        <span class='yellow_search'>
	        <input type='text' class='input_text' id= "intputaddress" placeholder="search" onKeypress="javascript:if(event.keyCode==13) {searchMap('서울시 관악구')}"/>
        </span>
        <button type='submit' class='sch_smit' onclick="searchMap('종로구청')">search</button>
</div>
    <!-- add search input  -->
    <!-- Open API key with URL -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1b59c27d2a1c9389ece9d237577a5214&libraries=services"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
    // Map Option

    var map_Container = document.getElementById('map'), 
    map_Option = { 
        center: new kakao.maps.LatLng(37.5579452,126.9941904), 
       //37.5579452,126.9941904 the start point when it reboots
        level: 5 
        // level of map zoom
    };

    // generate the map with the Option
    var map = new kakao.maps.Map(map_Container, map_Option); 
    var markers = []; // array for the marker
    var overlays = []; //overay marker
    var selectedoverlay, selectedMarker = null;
 
    //object of location
    var ps = new kakao.maps.services.Places();
    let search_input = jQuery('#intputaddress'); // get the value from input and insert *
    
        // put the drag function. **********need to check
        kakao.maps.event.addListener(map, 'dragend', showMarker());
        //show marker at first
        window.onload = showMarker();

        function showMarker() {
            return remove();
            // need this to put into addListener
        }
        
        function remove() {
            deleteMarker();
            removeOverlay();
            // get the middle lines of longitude and latitude
            var latitude = map.getCenter().getLat();
            var longitude = map.getCenter().getLng();
            
            // ass latitude and longitude value into the url to get the data
            var Dataurl = "https://8oi9s0nnth.apigw.ntruss.com/corona19-masks/v1/storesByGeo/json?lat="+
             latitude + "&lng=" + longitude+"&m=500";
             //	m (number) maximum 5000

            var marker_img = "http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
            var size = new kakao.maps.Size(23.30);
            var createImage = new kakao.maps.MarkerImage(marker_img,size);

            $.ajax({
                url :Dataurl,
                dataType : "json",
                success : function(data){
                    for(var i=0; i<data.count; i++){
                        //console.log('result.stores['+i+'].addr : ' + result.stores[i].addr);
                        //console.log('result.stores['+i+'].code : ' + result.stores[i].code);
                        //console.log('result.stores['+i+'].created_at : ' + result.stores[i].created_at);
                        //console.log('result.stores['+i+'].latitude : ' + result.stores[i].latitude);
                        //console.log('result.stores['+i+'].longitude : ' + result.stores[i].longitude);
                        //console.log('result.stores['+i+'].name : ' + result.stores[i].name);
                        //console.log('result.stores['+i+'].remain_stat : ' + result.stores[i].remain_stat);
                        //console.log('result.stores['+i+'].stock_at : ' + result.stores[i].stock_at);
                        //console.log('result.stores['+i+'].type : ' + result.stores[i].type);

                        var marker = new kakao.maps.Marker({
                            map : map,
                            position : new kakao.maps.LatLng(data.stores[i].lat, data.stores[i].lng), 
                            title : data.stores[i].name,
                            image : createImage
                        });
//<div class ="label"><span class="left"></span><span class="center">kakao!</span><span class="right"></span></div>'

                        // Custom overlays
                        var content = '<div class= "customoverlay"> <a href = "https://map.kakao.com/link/map/11394059" target = "_blank">'
                           + '<span class = "title">'+data.stores[i].name +'</span> </a> </div>';
                        // location of custom overlay
                        var position = kakao.maps.LatLng(data.stores[i].latitude, data.stores[i].longitude);
                        var customOverlay = new kakao.maps.CustomOverlay({
                            yAnchor: 2, // location
                            // xAnchor
                            position: position,
                            content: content
                        });
                        // add marker into the array 
                        kakao.maps.event.addListener(marker, 'click', clickmarker(marker, customOverlay, data.stores[i].name));
                       overlays.push(customOverlay);
                       markers.push(marker);
                       
                    }
                }
            });
        }
        // after pressing markers 
        function clickmarker(marker, overlay,name){

            return function(){

                if(!selectedMarker || selectedMarker !== marker){
                    for(var i =0; i<overlays.length; i++){
                        overlays[i].setMap(null);

                    }
                    overlays[i].setMap(map);
                    selectedoverlay =overlay;
                    selectedMarker =marker;
                }
            }
        }
     
        // call back after keywordSearch
        function callbackSearch(data, status,pagination){
            if (status === kakao.maps.services.Status.OK){
                // resetting the parameter of map from the searched point 
                var bounds = new kakao.maps.LatLngBounds();
                //add the location into LatLngBounds
                for(var i=0; i<data.length;i++){
                    bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
                }
                map.setBounds(bounds);
                remove();
            }
        }
    function searchMap(){
        ps.keywordSearch(search_input.val(),callbackSearch);
        search_input.val('');
        //search the location by keyword and the reset the input
    }
    function removeOverlay(){
        console.log("print the lengh of overlay "+overlays.length);
        for(var i=0; i<overlays.length; i++){
            overlays[i].setMap(null);
        }overlays=[];
    }
    // take out the marker from the map 
    function deleteMarker(){
        for(var i=0; i<overlays.length; i++){
            markers[i].setMap(null);
        }markers=[];
    }

</script>
</body>
</html>
